@font-face {
    font-family: 'Bonzai';
    src: url('/bonzai.ttf');
}

body {
    font-family: 'Bonzai';
    font-size: 20px;
}

#content {
    background-image: url('/images/game-bg.jpg');
}

#footer {
    position: fixed;
    bottom: 0;
}