@font-face {
    font-family: 'Bonzai';
    src: url('/bonzai.ttf');
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Bonzai';
    font-size: 20px;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: khaki;
    cursor: url('/images/cursor.png'), auto;
}

#content {
    background-image: url('/images/game-bg.jpg');
    background-size: cover;
    flex-grow: 1;
    font-size: 40px;
    overflow: hidden;
    position: relative;
    touch-action: none;
}

#footer {
    min-height: 40px;
}

.fruit {
    position: absolute;
    font-size: 120px;
    user-select: none;
    font-weight: bold;
    font-family: "Segoe UI Emoji";
}

#hp {
    float: right;
    font-variant-emoji: emoji;
    font-family: "Segoe UI Emoji";
}

#record_table {
    display: none;
}

#replay {
    display: flex;
    background-color: #fff8;
    height: 100%;
}

#replay_btn {
    margin: auto;
    padding: 10px;
}