@font-face {
    font-family: 'Bonzai';
    src: url('/bonzai.ttf');
}

html {
    height: 100%;
}

body {
    font-family: 'Bonzai';
    font-size: 20px;
    display: flex;
    flex-flow: column;
    height: 100%;
}

#content {
    background-image: url('/images/game-bg.jpg');
    background-size: cover;
    flex-grow: 1;
    max-height: 800px;
    overflow: hidden;
}

#footer {
    height: 40px;
}

.fruit {
    position: relative;
    font-size: 120px;
}